$PARTICLE_COLOR: #1e1e1e;
$SPACING: 2560px;
$FIRST_TIME: 60s;
$SECOND_TIME: 120s;
$THIRD_TIME: 180s;
$FOURTH_TIME: 200s;

.animation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: "";
  top: $SPACING;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

@function particles($max) {
  $val: 0px 0px $PARTICLE_COLOR;

  @for $i from 1 through $max {
    $val: #{$val}, random($SPACING)+px random($SPACING)+px $PARTICLE_COLOR;
  }

  @return $val;
}

.particle-w {
  animation: particleAnimation $FIRST_TIME linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-w:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-x {
  animation: particleAnimation $SECOND_TIME linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-x:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-y:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-z {
  animation: particleAnimation $FOURTH_TIME linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-z:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

@keyframes particleAnimation {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY($SPACING * -1);
  }
}